@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;

  /* background: darkblue; */

  height: 99%;
  /* background-repeat: no-repeat;
  background-size: cover; */

  border: 1px solid transparent;
  transition: background 5s;
}

table {
  margin: 0 auto;
}

.other-info table, .other-info td, .other-info tr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 90%;
  padding: 3px;
  border-collapse: collapse;
  text-align: left;
}


#default-color {
  background: rgb(111,74,143);
  background: -moz-linear-gradient(236deg, rgba(111,74,143,1) 0%, rgba(195,173,84,1) 100%);
  background: -webkit-linear-gradient(236deg, rgba(111,74,143,1) 0%, rgba(195,173,84,1) 100%);
  background: linear-gradient(236deg, rgba(111,74,143,1) 0%, rgba(195,173,84,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f4a8f",endColorstr="#c3ad54",GradientType=1);
}

#day-gradient {
  background: rgb(143,74,74);
  background: -moz-linear-gradient(32deg, rgba(143,74,74,1) 0%, rgba(195,173,84,1) 100%);
  background: -webkit-linear-gradient(32deg, rgba(143,74,74,1) 0%, rgba(195,173,84,1) 100%);
  background: linear-gradient(32deg, rgba(143,74,74,1) 0%, rgba(195,173,84,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f4a4a",endColorstr="#c3ad54",GradientType=1); 
  transition: background 5s;
}

#night-gradient {
  background: rgb(83,69,98);
  background: -moz-linear-gradient(146deg, rgba(83,69,98,1) 0%, rgba(137,179,155,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(83,69,98,1) 0%, rgba(137,179,155,1) 100%);
  background: linear-gradient(146deg, rgba(83,69,98,1) 0%, rgba(137,179,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#534562",endColorstr="#89b39b",GradientType=1); 
  transition: background 5s;
}

button {
  background-color: #EEF;
  border: none;
  font-size: 100%;
  padding: 5px;
  margin: 5px auto;
  box-shadow: 3px 3px 3px rgba(23, 23, 47,0.5);
  opacity: 0.5;
  border-radius: 5px;

  background-color: transparent;

  border: 2px solid white;

  color: white;
  transition-duration: 0.2s;
  width: 200px;
}

button:hover {
  background-color: white;
  color: rgb(138, 110, 161);
  transition-duration: 0.2s;
}

button:active {
  background-color: #CCD;
  box-shadow: none;
  color: rgb(100, 76, 119);
  transform: translate(2px, 3px);
}

input {
  font-size: 150%;
  background-color: rgb(235, 228, 240);
  color: #444;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px rgba(41, 33, 48, 0.5);
  border-radius: 5px;
}

p {
  display: inherit;
  vertical-align: text-top;
}

a {
  display: inherit;
  vertical-align: text-top;
  text-decoration: none;
  color: rgb(255, 237, 74);
}

a:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

td:nth-of-type(1) {
  font-weight: 700;
}

.title {
  font-size: 300%;
  text-shadow: 1px 1px 5px rgba(41, 33, 48, 0.5);
}

.weather-icon {
  vertical-align: text-top;
  font-size: 300%;
  display: inherit;
}

#Dibujo {
  fill: #FFF;
}

.css-icon {
  fill: #FFF;
}

.page-appearance {
  width: 100%;
  padding: 0%;
  margin: 0 auto;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  transition: background 5s;
}

.text-format {
  color: #666;
  font-weight: 300;
}

.temperature {
  color: rgb(224, 224, 172);
  font-size: 400%;
  font-weight: 600;
  margin: 0px;
  /* text-shadow: 2px 2px 2px rgba(39, 34, 43, 0.3); */
}

.temperature:hover {
  color: white;
}

.same-line {
  display: inline-block;
  margin: 0 auto;
}

.other-info {
  margin: 0 auto;
  display: flex;
}

.descriptive-paragraph {
  word-wrap: normal;
  width: 75%;
  margin: 0 auto;
  text-align: justify;
}

/* CSS settings from the predictive-search app. */
.extra-info {
  color: #777;
  font-style: italic;
}

.location-info {
  color: #777;
  font-style: italic;
  font-size: 75%;
  padding-left: 10px;
}

.search-result {
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 0px;
  line-height: 2px;
}

.search-result:hover {
  background-color: rgb(182, 203, 224);
  border: 1px solid rgb(164, 184, 204);
}

.search-result.selected {
  background-color: #DEF;
  border: 1px solid #CDE;  
}

.results-box {
  color: #334;
  border: 1px solid #888;
  width: 30%;
  padding: 2px;
  margin-top: 2px;
  box-shadow: 1px 1px 5px rgba(41, 33, 48, 0.5);
  z-index: 2;
  background-color: #EEE;
  position: absolute;
  text-align: left;
  font-size: 90%;
  font-weight: 700;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(168, 160, 175);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.page-footer {
  position: absolute;
  bottom: 0px;
  font-size: 75%;
  display: inherit;
  align-self: center;
  align-items: baseline;
  justify-content: space-evenly;
  width: 40%;
  opacity: 0.5;
}